---
# Only the main Sass file needs front matter (the dashes are enough)
---

body {
  font-family: 'Open Sans', sans-serif;
  top: 0px;
  overflow-x: hidden;
  display: relative;
}

main.page-content {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 75%;
}

main.page-content .wrapper {
  width: 70%;
}

.site-header {
  background: #fff;
  z-index: 2;
  position: fixed;
  top: 0px;
}

.site-header h2 {
  margin: 6px auto;
}

@media all and (max-width:768px){
  .site-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
  }
}

/*@media all and (min-width:1024px){
  .site-header {
    margin-left: 100px;
  }
}*/

.social-icon {
  width: 30px;
  height: 30px;
}

// NAV BAR STYLES

.nav {
  display: flex;
  flex-direction: rows;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 24px;
  width: 100%;
  background: #fff;
  z-index: 1;
}

@media all and (max-width:768px){
  #navigation {display: none;}
}

.nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 12px;
}

.nav a:hover {
  text-decoration: underline;
}

.nav a:hover:not(.active) {
  text-decoration: underline;
}


.nav a.active {
  text-decoration: underline;
}

.nav a:last {
  margin-right: 0px;
}

.nav a:first {
  margin-left: 0px;
}

#fullscreen-navigation {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  justify-center: center;
  background: #fff;
  top:0px;
}

#fullscreen-navigation .nav {
  top: 50%;
}

.menu {
  right: 10px;
  top: 10px;
  position: fixed;
  z-index: 100;
  display: none;
  cursor: pointer;
}

.close {
  right: 10px;
  top: 10px;
  position: fixed;
  z-index: 100;
  display: none;
  cursor: pointer;
}

@media all and (max-width:768px){
  .menu {
    display: inline-block;
  }
}

// PAGE STYLES

.landing-content {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 50px;
  background: url("../assets/images/lassen_natl_park.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  background-position: center;
}


// POST STYLES

.post-list li {
  list-style: none;
}

.post-meta {
  color: gray;
}

.post-image {
  width: 100%;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-title {
  font-family: 'Copse', serif;
}

@media all and (min-width:768px){
  .post-image {
    height: 14rem;
  }
}

@media all and (min-width:1024px){
  .post-image {
    height: 18rem;
  }
}