---
layout: default
---

<div class="home">

  <h1 class="page-heading">Blog</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
        <li style="margin-top: 36px;">
           <a href="/blog{{ post.url }}"><span class="">{{ post.title | escape }}</span></a> • <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        </li>
    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->

</div>